td {
	font-family : Verdana, Geneva, Helvetica, sans-serif;
	font-size: 7pt;
}

.jour{
	font-family : Verdana, Geneva, Helvetica, sans-serif;
	font-size: 7pt;
	color: #424040;
	font-weight: bold;
}

.mois{
	font-family : Verdana, Geneva, Helvetica, sans-serif;
	font-size: 7pt;
	color: #424040;
	font-weight: bold;
}

