{% extends "admin/base_site.html" %}
{% load i18n %}
{% block content %}
<div id="content-main">
<h1>Planning</h1>
{{ user_id }}

<table>
<tr>
{% for year in cal.years %}
<th colspan={{year.nb}}>{{year.num}}</th>
{% endfor %}
</tr>

<tr>
{% for month in cal.months %}
<th colspan={{month.nb}}  class="{% cycle row1,row2 %}">{{month.month_name}}</th>
{% endfor %}
</tr>

<tr>
{% for week in cal.weeks %}
<td colspan={{week.nb}} class="{% cycle row1,row2 %}">{{week.num}}</td>
{% endfor %}
</tr>

<tr>
{% for day in cal.days %}
<td  class="{% cycle row1,row2 %}">{{day.name_abbr}}</td>
{% endfor %}
</tr>

<tr>
{% for day in cal.days %}
<td  class="{% cycle row1,row2 %}">{{day.day_month}}</td>
{% endfor %}
</tr>

</table>
<p>
<table>
<tr>{% for type in types %}<td align=center>{{type.name}}</td>{% endfor %}</tr>
<tr>{% for type in types %}<td align=center>{{type.graphic|safe}}</td>{% endfor %}</tr>
</table>
<p>
<a href=add/>create a new planning</a>

</div>

{% endblock %}
