{% extends "admin/base_site.html" %}
{% load i18n %}
{% block content %}
<div id="content-main">
<h1>Planning</h1>
{{ user_id }}

<table>
<tr>
{% for year in cal.years %}
<th colspan={{year.nb}}>{{year.num}}</th>
{% endfor %}
</tr>

<tr>
{% for month in cal.months %}
<th colspan={{month.nb}}>{{month.month_name}}</th>
{% endfor %}
</tr>

<tr>
{% for week in cal.weeks %}
<td colspan={{week.nb}}>{{week.num}}</td>
{% endfor %}
</tr>

<tr>
{% for day in cal.days %}
<td>{{day.name_abbr}}</td>
{% endfor %}
</tr>

</table>

</div>

{% endblock %}
